﻿@model IEnumerable<Pildigalerii.Models.Person>

@{
    ViewBag.Title = "Index";
}

<h3>Kasutajad</h3>

<p>
    @Html.ActionLink("Loo uus kasutaja", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Nimi", "Index", new { sortOrder = ViewBag.NameSortParm })
            @*@Html.DisplayNameFor(model => model.LastName)*@
        </th>
        <th>
            @Html.ActionLink("Sünnikuupäev", "Index", new { sortOrder = ViewBag.DateSortParm })
            @*@Html.DisplayNameFor(model => model.BirthDate)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataFile.FileName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMail)
            </td>
            <td>
                @*Html.DisplayFor(modelItem => item.DataFile.FileName)*@
                <img src="@Url.Action("GetPicture", "People", new { id = item.Id})" height="80" />
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@
                @Html.ActionLink("Details", "Details", new { id = item.Id })
                @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
            </td>
        </tr>
    }



</table>
<h4>Meie majas on albumid:</h4>
@foreach (var x in ViewBag.Albumid)
{
    <p>Album: <a href="@Url.Action("Details", "Albums", new { id = x.Id })">@x.Title</a>
    </p>
}