﻿body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.taust {
    padding: 20px;
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1428571435;
    /*color: inherit;*/
    /*background-color: #ffffff;*/
}

.taust h1 {
    line-height: 1;
    color: inherit;
}

.taust p {
    line-height: 1.4;
}

.taust {
    vertical-align: middle;
    align-items: center;
    border-radius: 6px;
}

.taust {
    align-content: center;
}

@media screen and (min-width: 768px) {
    .taust {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .container .taust {
        padding-right: 60px;
        padding-left: 60px;
    }

    .taust h1 {
        font-size: 63px;
    }
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    height: 290px !important;
}

    div.gallery:hover {
        border: 1px solid #777;
    }

    div.gallery img {
        width: 255px;
        height: 255px;
        background-size: cover !important;
    }

div.desc {
    margin-bottom: 10px;
    text-align: center;
    font-size: 10pt;
}