﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <style>
        /* Note: Try to remove the following lines to see the effect of CSS positioning */
        .affix {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 9999 !important;
        }

            .affix + .container-fluid {
                padding: 70px;
            }
    </style>
</head>
<body>
    <div class="container-fluid" style="background-image:url(/Pictures/abstract-design-wallpaper-34-2560x1440.jpg);
            background-repeat: no-repeat;
            background-position: center;
            height:30px;">
        
    </div>

    <div>
        <nav class="navbar navbar-expand-sm navbar-default bg-light" data-spy="affix" data-offset-top="67">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Avaleht", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav mr-auto">
                        @if (HttpContext.Current.User.Identity.IsAuthenticated)  // näitab  linki ainult siis kui kasutaja on sisse loginud
                        {
                            <li class="nav-item">@Html.ActionLink("Albumid", "Index", "Albums", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li class="nav-item">@Html.ActionLink("Pildid", "Index", "Posts", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li class="nav-item"> @Html.ActionLink("Kasutajad", "Index", "People", new { area = "" }, new { @class = "navbar-brand" })</li>
                        }
                        else
                        {
                            <li class="nav-item">@Html.ActionLink("Albumid", "Index", "Albums", new { area = "" }, new { @class = "navbar-brand" })</li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>
    </div>
    @*<br>*@
    <div class="container body-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>