﻿@model Pildigalerii.Models.Album

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

<div>
    <h4>@Html.DisplayNameFor(model => model.Person.FullName): @Html.DisplayFor(model => model.Person.FullName)</h4>

@if (HttpContext.Current.User.Identity.IsAuthenticated)  // ainult sisse loginud kasutaja
{
       <p>@Html.DisplayNameFor(model => model.Access): @Html.DisplayFor(model => model.Access)</p>
}
        <p>Loodud: @Html.DisplayFor(model => model.Created)</p>
</div>
@if (HttpContext.Current.User.Identity.IsAuthenticated)  // uue albumi saab muuta ainult sisse loginud kasutaja
{
    <p>
        @Html.ActionLink("Muuda albumi andmeid", "Edit", new { id = Model.Id })
    </p>
    <hr />
    <p>
        @Html.ActionLink("+ Lisa uus pilt", "Create", new { AlbumId = Model.Id, controller = "Posts" })
    </p>
}

<div>
    <hr />
    @foreach (var x in ViewBag.AlbumImgs) //otsib üles kõik pildid, mison albumis
    {
        <div class="gallery">
            <a href="@Url.Action("Details", "Posts", new { id = x.Id})">
                @*//lisab lingi selle pildi lehele*@
                <img src="@Url.Action("GetPicture", "Posts", new { id = x.Id})" alt=@x.Title>   @*//paneb selle lingi kuvatava pildi külge*@
            </a>
            <div class="desc">@x.Title - @x.Created</div>            @*// allapoole paneb pildi kirjelduse*@
        </div>
    }

</div>
