﻿@model Pildigalerii.Models.Album

@{
    ViewBag.Title = "Edit";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @*@Html.LabelFor(model => model.OwnerId, "OwnerId", htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-10">
            @Html.EditorFor(model => model.OwnerId, new { htmlAttributes = new { @class = "form-control",type = "hidden" } })
            @Html.ValidationMessageFor(model => model.OwnerId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Access, "Nähtavus", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @* Siia tegin privaatsuse (access) dropdowni, kus vaikimisi oleks valitud public *@
            @Html.DropDownListFor(model => model.Access, new List<SelectListItem>
        {
            new SelectListItem{Text="avalik", Value="public", Selected=true},
            new SelectListItem{Text="privaatne", Value="private"} })
            @*@Html.EditorFor(model => model.Access, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.ValidationMessageFor(model => model.Access, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Created, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Created, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Created, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}


<div>
    @Html.ActionLink("Kõik albumid", "Index")
</div>
<div>
    <h3>Albumis olevad pildid</h3>
    <hr />
    <p><a href="@Url.Action("Create", "Posts", new { AlbumId = Model.Id})">+ LISA PILT</a> @*// Link uue posti lisamisele*@</p>
    @foreach (var x in ViewBag.AlbumImgs) //otsib üles kõik pildid, mison albumis
    {
        <div class="gallery">
            <a href="@Url.Action("Details", "Posts", new { id = x.Id})">
                @*//lisab lingi selle pildi lehele*@
                <img src="@Url.Action("GetPicture", "Posts", new { id = x.Id})" alt=@x.Title>   @*//paneb selle lingi kuvatava pildi külge*@
            </a>
            <div class="desc">@x.Title - @x.Description</div>            @*// allapoole paneb pildi kirjelduse*@
        </div>
    }

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
