﻿@model IEnumerable<Pildigalerii.Models.Album>


<h3>Kõik avalikud albumid</h3>
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*Siia tegime selle, et albumite listis kuvatavad albumite nimed oleksid lingina, mis viivad albumi Detailsi lehele*@
            <a href="@Url.Action("Details", "Albums", new { id = item.Id })">
                @item.Title
            </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
    </tr>
}

</table>
