﻿@model IEnumerable<Pildigalerii.Models.Album>

@{
    ViewBag.Title = "Index";
}

<h3>Kõik avalikud albumid</h3>

@if (HttpContext.Current.User.Identity.IsAuthenticated)  // uue albumi saab luua ainult sisse loginud kasutaja
{
<p>
    @Html.ActionLink("Loo uus album", "Create")
</p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Album", "Index", new { sortOrder = ViewBag.NameSortParm })
            @*@Html.DisplayNameFor(model => model.Title)*@
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Access)
        </th>*@
        <th>
            @Html.ActionLink("Omanik", "Index", new { sortOrder = ViewBag.OmanikSortParm })
            @*@Html.DisplayNameFor(model => model.Person.FullName)*@
        </th>
        <th>
            @Html.ActionLink("Kuupäev", "Index", new { sortOrder = ViewBag.DateSortParm })
            @*@Html.DisplayNameFor(model => model.Created)*@
        </th>

        <th></th>
    </tr>

@foreach (var item in Model)
{

    <tr>
        <td>
            @*Siia tegime selle, et albumite listis kuvatavad albumite nimed oleksid lingina, mis viivad albumi Detailsi lehele*@
            <a href="@Url.Action("Details", "Albums", new { id = item.Id })">
                @item.Title 
            </a>
            (@Html.DisplayFor(modelItem => item.Posts.Count))
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Access)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Person.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
    </tr>  
}

</table>
