﻿@{
    ViewBag.Title = "Avaleht";
}

<!DOCTYPE html>
<head>

</head>


<body>
    <h3>4 kõige uuemat pilti</h3>
    <div>
        <div class="row">
            @foreach (var x in ViewBag.NewImg) //kuvab kõige uuemad pildid
            {
                <div class="gallery">
                    <a href="@Url.Action("Details", "Posts", new { id = x.Id})">
                        <img src="@Url.Action("GetPicture", "Posts", new { id = x.Id})" alt=@x.Title>   @*//paneb selle lingi kuvatava pildi külge*@
                    </a>
                    <div class="desc">@x.Title - @x.Created</div>
                </div>
            }
        </div>
    </div>
    <hr />
    <h3>8 kõige popimat pilti</h3>
        <div class="row">
            @foreach (var x in ViewBag.PopularImg) //kuvab kõige uuemad pildid
            {
                <div class="gallery">
                    <a href="@Url.Action("Details", "Posts", new { id = x.Id})">
                        <img src="@Url.Action("GetPicture", "Posts", new { id = x.Id})" alt=@x.Title>   @*//paneb selle lingi kuvatava pildi külge*@
                    </a>
                    <div class="desc">@x.Title - @x.grade meeldimist</div>
                </div>
            }
        </div>
            @*<div class="column">
                <img src="~/Pictures/pic1.jpg">
                <img src="~/Pictures/pic1.jpg">
                <img src="~/Pictures/pic1.jpg">
                <img src="~/Pictures/pic1.jpg">
            </div>*@
                @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">upload a picture &raquo;</a></p>*@
 



        @*<script>
            function myFunction(imgs) {
                var expandImg = document.getElementById("expandedImg");
                var imgText = document.getElementById("imgtext");
                expandImg.src = imgs.src;
                imgText.innerHTML = imgs.alt;
                expandImg.parentElement.style.display = "block";
            }
        </script>*@





</body>