﻿@using Pildigalerii.Models;
@{
    ViewBag.Title = "Minu profiil";
}
<h2>@ViewBag.Title </h2>
@*<h3>@ViewBag.Message</h3>*@

<isikuandmed>
    <img src="@Url.Action("GetPicture", "People", new { id = ViewBag.CurrentUser.Id})" height="100" /><br />
    <b>Nimi:</b> @(ViewBag.CurrentUser?.FirstName)<br />
    <b>E-mail:</b> @User.Identity.Name<br/>
</isikuandmed>
 
@Html.ActionLink("Muuda oma andmeid", "Edit", new { id = ViewBag.CurrentUser.Id, controller = "People" } )
 
<br />  

<albumid>
   <h3>Minu albumid </h3>
    <p> @Html.ActionLink("+ UUS ALBUM", "Create", "Albums") </p>
    <table class="table">
        <tr>
            <th>Albumi nimi</th>
            <th>Piltide arv</th>
            <th>Albumi loomise kuupäev</th>
            <th>Nähtavus</th>
            <th></th>
        </tr>
        @foreach (var x in ViewBag.MinuAlbumid) //otsib üles kõik albumid, mis sellel kasutajal on
        {
            <tr>
                <td>
                    <p><a href="@Url.Action("Edit", "Albums", new { id = x.Id})"> @x.Title</a> </p>       @*//lisab lingi albumi lehel ja paneb lingi nimeks albumi pealkirja*@
                </td>
                <td>@x.Posts.Count</td>
                <td>@x.Created</td>
                <td>@x.Access</td>
                <td>
                    @Html.ActionLink("+ Lisa pilt", "Create", new { AlbumId = x.Id, controller = "Posts" }) |
                    @Html.ActionLink("Kustuta album", "Delete", new { id = x.Id, controller = "Albums" })
                </td>
            </tr>
        }
</table>

   

</albumid>
