﻿@model Pildigalerii.Models.Post

@{
    ViewBag.Title = "Create";
}

<h2>Lisa uus pilt</h2>

@*seda osa on vaja, et andmebaasi pilti salvestada saaks. Kindlasti vaata, et controlleri nimi oleks siin allpool õige!*@
@using (Html.BeginForm(
"Create",
"Posts",
FormMethod.Post,
new { enctype = "multipart/form-data" }
))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.FileId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @*Kommenteerisin pakutavate piltide dropdowni välja ja tõstsin input osa (browse nupu) selle divi sisse, et oleks normaalsemalt joondatud.
                @Html.DropDownList("FileId", null, " ",  htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FileId, "", new { @class = "text-danger" })*@
                @Html.HiddenFor(model => model.FileId)     @*// kui drop-down maha võtta, siis on vaja see kirjutada, et FileID ikka kaasa antaks*@
                <input type="file" name="file" id="file" class="btn btn-default" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AlbumId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*Kasutajale kuvatakse ainult tema enda albumeid*@
                @Html.DropDownList("AlbumId", new SelectList(ViewBag.UserAlbums, "Id", "Title"))
                @*@Html.DropDownList("AlbumId", null, htmlAttributes: new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.AlbumId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.OwnerId, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.OwnerId, "", new { @class = "text-danger" })*@
                @Html.HiddenFor(model => model.OwnerId) @* peitsime välja lisamisvormilt*@
            </div>
        </div>




        <div class="form-group">
            @Html.LabelFor(model => model.Created, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Created, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Created, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Access, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Access, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Access, "", new { @class = "text-danger" })
            </div>
        </div>


        @*
            See siin vist teeb seda, et Create nupule vajutades pandaks pildi sisu andmebaasi DataFile tabelisse.
        *@
        <div class="form-group">
            <div class="col-md-10">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>

    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
