﻿@model Pildigalerii.Models.Post


@{
    ViewBag.Title = "Details";
}

<!DOCTYPE html>

<h2>Details</h2>
<h2>@Html.DisplayFor(model => model.Title)</h2>

<div>
    <h4>Autor: @Html.DisplayFor(model => model.Person.FullName)</h4>
    <h4>Album: <a href="@Url.Action("Details", "Albums", new { id = Model.AlbumId })">@Html.DisplayFor(model => model.Album.Title)</a></h4>

    <hr />

    <a href="@Url.Action("GetPicture", "Posts", new { id = Model.Id })">
        <img src="@Url.Action("GetPicture", "Posts", new { id = Model.Id })" height="300" alt="Pilti ei ole" />
    </a><br />
    <p>@Html.DisplayFor(model => model.Description)</p>    
    
    @*leiab järgmise ja eelmise pildi sellest samast albumist. Details controlleris on pandud Details actionile parameetriks kas current, prev või next*@
       @Html.ActionLink("Järgmine", "Details", new { id = Model.Id, dir = "prev" }) |
    @Html.ActionLink("Eelmine", "Details", new { id = Model.Id, dir = "next" }) 
    <dl class="dl-horizontal">
        <dt>
            <a href="@Url.Action("AddLike", "Posts", new {id = Model.Id})"><img src="~/download.png" height="25" /></a>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grade)
        <br />
        </dd>
        

        @if (HttpContext.Current.User.Identity.IsAuthenticated)  // ainult sisse loginud kasutaja
        {
            <dt>
                @Html.DisplayNameFor(model => model.Created)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Created)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Access)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Access)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DataFile.FileName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DataFile.FileName)
            </dd>


        }

    </dl>
    <div>


        @if (Model.OwnerId == ViewBag.PersonId)  // näitab  linki ainult siis kui tegemist on pildi omanikuga
        {

            @Html.ActionLink("Muuda", "Edit", new { id = Model.Id })
            <b>|</b>
            @Html.ActionLink("Kustuta", "Delete", new { id = Model.Id })

        }
    </div>

</div>


<comments>

    <hr />
    <h4>Kommentaarid (@ViewBag.CommentCount)</h4>
    <div>

        <form action=@Url.Action("Create", "Comments") method="post">

            @*kui kellelgi on aega, siis võib uurida, miks textarea kaudu CommentTxt ei tule*@
            @*<textarea name=”CommentTxt”></textarea><br>*@
            <input type="text" name="CommentTxt" />
            <input type="hidden" value="@Model.Id" name="PostId" />
            <input type="submit" value="Lisa kommentaar" class="btn btn-default" />

        </form>
        <p>


            @foreach (var x in ViewBag.Comments) //otsib üles kõik kommentaarid, mis on selle posti juures
            {
            <p>@x.CommentTxt</p>

        }



        </div>
    </comments>