﻿@model Pildigalerii.Models.Post

@{
    ViewBag.Title = "Edit";
}

<h4>Muuda pilti: @Html.DisplayFor(model => model.Title)</h4>
<p>@Html.ActionLink($"Tagasi albumisse {@Html.DisplayFor(model => model.Album.Title)}", "Details", new { id = Model.AlbumId, controller = "Albums" })</p>

<hr />
@*seda osa on vaja, et andmebaasi pilti salvestada saaks. Kindlasti vaata, et controlleri nimi oleks siin allpool õige!*@
@using (Html.BeginForm(
"Edit",
"Posts",
FormMethod.Post,
new { enctype = "multipart/form-data" }
))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <a href="@Url.Action("GetPicture", "Posts", new { id = Model.Id })"><img src="@Url.Action("GetPicture", "Posts", new { id = Model.Id })" height="300" alt="Õlut ei ole" /></a><br />

        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AlbumId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*Kasutajale kuvatakse ainult tema enda albumeid*@
                @Html.DropDownList("UserAlbums", null, new {@class="form-control"})
                @Html.ValidationMessageFor(model => model.AlbumId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FileId, "Muuda faili", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="file" id="file" class="btn btn-default" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Created, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Created, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Created, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.grade, "Meeldimisi", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.grade, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.grade, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.HiddenFor(model => model.OwnerId)     @*// väärtus tuleb ikka kaasa anda, sest on andmebaasis*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.HiddenFor(model => model.Access)     @*// väärtus tuleb ikka kaasa anda, sest on andmebaasis*@
            </div>
        </div>
    </div>

            <div class="form-group">
                <div class="col-md-10">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>       

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
