﻿@model IEnumerable<Pildigalerii.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h3>Kõik avalikud pildid</h3>

<p>
    @Html.ActionLink("Lisa uus pilt", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataFile.FileName)
        </th>
        <th>
            @Html.ActionLink("Pildi nimi", "Index", new { sortOrder = ViewBag.NameSortParm })
            @*@Html.DisplayNameFor(model => model.Title)*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Created)*@
            @Html.ActionLink("Kuupäev", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Access)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.Category)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.DataFile.FileName)
        </th>*@
        <th>
            @Html.ActionLink("Album", "Index", new { sortOrder = ViewBag.AlbumSortParm })
            @*@Html.DisplayNameFor(model => model.Album)*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Person.FullName)*@
            @Html.ActionLink("Omanik", "Index", new { sortOrder = ViewBag.OmanikSortParm })
        </th>
        <th>
            @*@Html.DisplayName("Kommentaare")*@
            @Html.ActionLink("Kommentaare", "Index", new { sortOrder = ViewBag.ComSortParm })
        </th>
        <th>
            @*@Html.DisplayName("Meeldimisi")*@
            @Html.ActionLink("Meeldimisi", "Index", new { sortOrder = ViewBag.LikeSortParm })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*Html.DisplayFor(modelItem => item.DataFile.FileName)*@
            <a href="@Url.Action("Details", "Posts", new { id = item.Id })"><img src="@Url.Action("GetPicture", "Posts", new { id = item.Id})" height="80" /></a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Access)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.Category.Title)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.DataFile.FileName)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Album.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments.Count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grade)
        </td>
    </tr>
}

</table>
